header{
    min-height: 629px;
}

.heading{
    padding-left: 100px;
    padding-top: 185px;
    padding-bottom: 50px;
    color: var(--light-black-color);
}

.heading-h{
    font-size: 50px;
    width: 100%;
}

span{
    color: var(--red-color);
}

.more-btn{
    color: var(--light-black-color);
    padding: 10px 28px;
    background: var(--dark-grey-color);
    margin-top: 90px;
    font-size: 20px;
    transition: ease-in-out 0.2s;
}

.more-btn:hover{
    color: var(--dark-grey-color);
    background: var(--light-black-color);
}

.heading-p1, .heading-p2{
    font-size: 23px;
}

.heading-p2{
    margin-bottom: 40px;
}

/* Tablet version */
/* @media (max-width: 1040px) {
    .wrapper{
        max-width: 694px;
    }
    .heading{
        font-size: 10px;
        max-width: 694px;
    }
} */

/* mobile version */
/* @media (max-width: 720px) {
    .wrapper{
        max-width: 300px;
    }
    .heading{
        font-size: 5px;
        max-width: 300px;
    }
} */

header .wrapper{
    margin: 0;
}