.profile-p{
    background: var(--grey-color);
    width: 300px;
}

#work{
    background: var(--light-blue-color);
}

#work .projects{
    gap: 91px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



#work .column img{
    width: 100%;
    height: 370px;
    object-fit: cover;
}

#work .column{
    background: var(--grey-color);
    transition: all 400ms ease;
}

#work .column:hover{
    transform: scale(1.04);
}

.profile-p{
    text-align: right;
    font-size: 20px;
    color: var(--light-black-color);
}

.work-h{
    text-align: center;
    font-size: 30px;
    color: var(--red-color);
    margin-bottom: 100px;
}